* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  color: rgb(186, 170, 170);
  width: 99vw;
  height: 97vh;
  border: 3px solid black;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: black;
  padding: 2rem;
  align-items: center;
}

@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }
}
